
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.rostro {
    display: inline;
    display: flex;
    align-items: center;
    height: 150px;
    width: 150px;
    border: 1px black solid;
    border-radius: 1px black solid;
    padding: 0px 5px;
    margin-left: 10px;
}

.program {
    display: flex;
    justify-content: center;
    padding: 1px;
    border: 1px navy solid;
}

.testim {
    border: 1px blue solid;
}

.testimonio {
    display: inline;
}


.títulos {
    font: bolder;
    font-size: 40px;
    color: midnightblue;
}

.disciplina {
    display: inline;
    height: 100px;
    width: 100px;
}

.tituloRopa {
    font-size: 20px;
    font-weight: bold;
}

.ropas {
    height: 200px;
    width: 200px;
    display: inline;
    margin: 5px;
}

.product {
    margin: 3px;
    border: 1px blue solid;
    border-radius: 2px;
}

.productos {
    display: flex;
    justify-content: center;
}

.btn {
    color: lightseagreen;
    background-color: black;
    display: flex;
    align-items: end;
    bottom: 0;
}

.mapa {
    border: 2px black solid;
}