* {
    margin: 0;
    padding: 0;
}
.navbar {
    background-color: white;
    border-bottom: 2px blue solid;
}

.logo {
    height: 120px;
    width: 250px;
}

.menu {
    grid-area: nav;
}


li {
    display: inline;
}

.misiones {
    border: 5px;
    margin: 5px;
    padding: 5px;
}
.rostro {
    display: inline;
    height: 150px;
    width: 150px;
    border: 1px black solid;
    border-radius: 1px black solid;
}

.card {
    border: 2px navy solid;
}

.testimonio {
    display: inline;
}

.testimonios {
    display: inline;
}

.fondo {
    background-color: lightsteelblue;
}

.títulos {
    font: bolder;
    font-size: 30px;
    color: midnightblue;
}

.disciplina {
    display: inline;
    height: 150px;
    width: 150px;
}

.ropas {
    height: 200px;
    width: 200px;
    display: inline;
}
footer {
    display: flex;
    justify-content: center;
    font-weight: bold;
    align-items: flex-end;
}

.mapa {
    border: 2px black solid;
}