* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    padding: 0;
}

main {
    overflow: auto;
    padding: 0;
}

.navbar {
    background-color: white;
    border-bottom: 2px blue solid;
}

.logo {
    height: 120px;
    width: 250px;
}

li {
    display: inline;
}

.misiones {
    border: 5px;
    margin: 5px;
    padding: 5px;
}

.rostro {
    display: inline;
    display: flex;
    align-items: center;
    height: 150px;
    width: 150px;
    border: 1px black solid;
    border-radius: 1px black solid;
    padding: 0px 5px;
    margin-left: 10px;
}

.program {
    padding: 1px;
    border: 1px navy solid;
}

.testim {
    border: 1px blue solid;
}

.testimonio {
    display: inline;
}

.fondo {
    background-color: lightsteelblue;
}

.títulos {
    font: bolder;
    font-size: 40px;
    color: midnightblue;
}

.disciplina {
    display: inline;
    height: 120px;
    width: 120px;
}

.ropas {
    height: 200px;
    width: 200px;
    display: inline;
}

footer {
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-weight: bold;
    position: relative;
    bottom: 0;
}

.mapa {
    border: 2px black solid;
}