@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");
body {
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: "Mooli", sans-serif;
}

.fondo {
  background-image: linear-gradient(to left, #5f87a0, #e1eefc);
}

.navbar {
  border-bottom: 1px black solid;
  background-image: linear-gradient(to left, #5f87a0, #e1eefc);
}
.navbar .botoNav {
  border: 1px;
  padding: 5px;
}
.navbar .logo {
  height: 70px;
  width: 190px;
  margin-left: 15px;
}
.navbar .logo:hover {
  transform: scale(1.05);
}
.navbar .menu {
  font-family: "Mooli", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #17608b !important;
  margin-right: 15px;
}

.titulos {
  font-family: "Mooli", sans-serif;
  font-size: 30px;
  color: #17608b;
  font-weight: bold;
  margin: 10px;
  padding: 10px;
}

.subtitulos {
  font-family: "Mooli", sans-serif;
  font-size: 20px;
  color: #17608b;
  font-weight: bold;
  margin: 5px;
  padding: 5px;
}

footer {
  display: flex;
  justify-content: end;
  margin-right: 30px;
}
footer li {
  display: inline;
}
footer li .redes {
  height: 35px;
  width: 35px;
  color: rgb(25, 25, 112);
}

.principal {
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 150px;
}
.principal .testim {
  border: 1px rgb(25, 25, 112) solid;
  background-color: #8eacc2;
}
.principal .testim .tarjeta {
  margin-right: 0px;
}
.principal .testim .tarjeta .cuerpo {
  margin-right: 5px;
}
.principal .testim .rostro {
  display: inline;
  display: flex;
  align-items: center;
  height: 150px;
  width: 150px;
  border: 1px black solid;
  border-radius: 3px black solid;
  padding: 0px 5px;
  margin-left: 10px;
}

.texto {
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 150px;
  margin-bottom: 249px;
}

.deportes {
  display: flex;
  justify-content: center;
  margin-left: 2px;
  margin-bottom: 10px;
}
.deportes .program {
  background-color: #8eacc2;
  display: flex;
  justify-content: center;
  border: 1px rgb(25, 25, 112) solid;
}
.deportes .program .disciplina {
  display: inline;
  height: 100px;
  width: 100px;
  margin-top: 8px;
  margin-bottom: 3px;
}
.deportes .program .card-body {
  padding: 5px;
}

.productos {
  display: flex;
  justify-content: center;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 150px;
  margin-bottom: 25px;
}
.productos .product {
  margin: 2px;
  border: 1px rgb(25, 25, 112) solid;
  border-radius: 2px;
  background-color: #8eacc2;
}
.productos .product .ropas {
  height: 200px;
  width: 200px;
  margin-top: 5px;
}
.productos .product .tarjCompra {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-end;
}
.productos .product .tarjCompra .card-text {
  height: 3.6em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.productos .product .btn {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: white;
  background-color: #1C2833;
}
.productos .product .btn:hover {
  background-color: #225885;
}

@media screen and (min-width: 992px) {
  .contacto {
    display: grid;
    grid-template-rows: 10% 10% 60% 10%;
    grid-template-columns: 40% 60%;
    justify-content: space-evenly;
    grid-template-areas: "titCont titCont" "ubicacion consultas" "mapa formulario" "mapa formulario" "direccion formulario";
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 150px;
    margin-bottom: 20px;
  }
  .contacto h1 {
    grid-area: titCont;
  }
  .contacto .ubicacion {
    grid-area: ubicacion;
    justify-self: start;
  }
  .contacto .mapa {
    grid-area: mapa;
    display: inline;
    margin-bottom: 0;
    padding-bottom: 0;
    justify-self: start;
  }
  .contacto .direccion {
    grid-area: direccion;
    margin-top: 0;
    padding-bottom: 0px;
  }
  .contacto .consultas {
    grid-area: consultas;
    justify-self: start;
  }
  .contacto .formulario {
    grid-area: formulario;
    display: inline;
    justify-self: start;
  }
}
@media screen and (max-width) {
  .contacto {
    display: grid;
    grid-template-columns: 100%;
  }
}
.error {
  background-image: url("../img/maraton.webp");
  background-size: cover;
}
.error .imagen {
  display: flex;
  justify-content: center;
  align-items: end;
}
.error .imagen .reloj {
  height: 200px;
  width: 300px;
}

/*# sourceMappingURL=main.css.map */
