body {
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: $mainFont;
}

.fondo {
    background-image: linear-gradient(to left, #5f87a0, #e1eefc);
}

.navbar {
    border-bottom: 1px $black solid;
    background-image: linear-gradient(to left, #5f87a0, #e1eefc);

    .botoNav {
        border: 1px;
        padding: 5px;
    }

    .logo {
        height: 70px;
        width: 190px;
        margin-left: 15px;
    }

    .logo:hover {
        transform: scale(1.05);
    }

    .menu {
        font-family: $mainFont;
        font-size: $fontMd;
        font-weight: bold;
        color: $headLineColor !important;
        margin-right: 15px;
    }

}

.titulos {
    font-family: $mainFont;
    font-size: $fontLg;
    color: $headLineColor;
    font-weight: bold;
    margin: 15px 5px 10px 20px;
}

.subtitulos {
    font-family: 'Mooli', sans-serif;
    font-size: 20px;
    color: #17608b;
    font-weight: bold;
    margin: 10px;
    padding: 10px;
}

footer {
    display: flex;
    justify-content: end;
    margin-right: 30px;

    li {
        display: inline;

    .redes {
            height: 35px;
            width: 35px;
            color: $alternativo;

    .redes:hover {
                transform: scale(1.05);
            }
        }
    }
}