.fondo{
    font-family: $mainFont;
    background-color: $mainColor;
    }
    
.navbar{
    background-color: $white;
    border-bottom: 3px $secondaryColor;
    background-image: linear-gradient(to left, #777EB0, $white);
    .logo{
        height: 130px;
        width: 280px;
    }
    .menu{
        font-family: $secondaryFont;
        font-size: $fontMd;
        font-weight: bold;
    }
}

footer{
    display: flex;
    justify-content: center;
    font-weight: bold;
    li{
        display: inline;
    }
}