
@media screen and (min-width: 992px)
{
.contacto{
    display: grid;
    grid-template-rows: 10% 70% 20%;
    grid-template-columns: 40% 60%;  
    justify-content: space-evenly;  
    grid-template-areas: 
    "ubicacion consultas"
    "mapa formulario"
    "direccion formulario";
        
    h1{
        grid-area: titCont;
    }
        .ubicacion{
            grid-area: ubicacion;
            justify-self: start;
            margin-left: 0;
            padding-left: 0;
        }
    .mapa{
        grid-area: mapa;
        display: inline;
        margin-bottom: 0;
        padding-bottom: 0;
        margin-top: 10px;
        justify-self: start;

    }
    .direccion{
        grid-area: direccion;
        margin-top: 0;
        padding-bottom: 0px;
    }
        .consultas{
           
            grid-area: consultas;
            justify-self: start;
            margin-left: 0;
            padding-left: 0;

        }
    .formulario{
        grid-area: formulario;
        display: inline;
        justify-self: start;
        margin-top: 10px;
    
    }
    
    @include principal;
    margin-bottom: 25px;


}
}

@media screen and (max-width) {
    .contacto{
        display: grid;
        grid-template-columns: 100%;
    }
    
}