.error{
    background-image: url("../img/maraton.webp");
    background-size: cover;
    .imagen{
        display: flex;
        justify-content: center;
        align-items: end;
    .reloj{
        height: 200px;
        width: 300px;
    }

    }
}
