.principal {
    @include margenes;
    .testim {
        border: 1px $alternativo solid;
        background-color: $cardColor;
        .tarjeta {
            margin-right: 0px;
        .cuerpo {
            margin-right: 5px;
        }
        }
        .rostro {
            display: inline;
            display: flex;
            align-items: center;
            height: 150px;
            width: 150px;
            border: 1px $black solid;
            border-radius: 3px $black solid;
            padding: 0px 5px;
            margin-left: 10px;
        }
    }
        }


