.productos{
    display: flex;
    justify-content: center;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 25px;
    .product{
        margin: 2px;
        border: 1px $alternativo solid;
        border-radius: 2px;
        .ropas{
            height: 200px;
            width: 200px;
            margin-top: 5px;
        }
        .tarjCompra{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-content: flex-end;
            .card-text{
                max-height: 3.6em;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }
        }
        .btn{
            display: flex;
            justify-content: center;
            align-items: flex-end;
            color: $secondaryColor;
            background-color: $black;
            
        }
        .btn:hover{
            transform: scale(1.1);
        }
    }
}