.deportes{
    display: flex;
    justify-content: center;
    margin-left: 2px;
    margin-bottom: 65px;
.program{
    background-color: $cardColor;
    display: flex;
    justify-content: center;
    border: 1px $alternativo solid;
    .disciplina{
        display: inline;
        height: 100px;
        width: 100px;
        margin-top: 8px;
        margin-bottom: 3px;
    }
    .card-body {
        padding: 5px;
    }
}
}