//Colores//
$mainColor: #cee6fd;
$secondaryColor: #2471A3; 
$cardColor: #8eacc2;
$titleColor: #1C2833;
$headLineColor:#17608b;
$alternativo: rgb(25, 25, 112);   
$white: white;
$black: black;

$mainFont: 'Poppins', sans-serif;
$secondaryFont: 'Gill Sans', sans-serif;
$thirdFont: 'Mooli', sans-serif;
$fontLg: 30px;
$fontMd: 20px;
$fontSm: 15px;
