//Colores//
$mainColor: #B2BABB;
$secondaryColor: #2471A3; 
$titleColor: #1C2833;
$headLineColor: #020B47;   
$white: white;
$black: black;

$mainFont: 'Poppins', sans-serif;
$secondaryFont: 'Gill Sans', sans-serif;
$fontLg: 40px;
$fontMd: 20px;
$fontSm: 15px;
